/*** Global Styles ***/

/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Border Box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Shutter Color Palette Provided */
:root {
  --accentColour: #e7a8e6;
  --blackShade: #1f2022;
  --black: #000000;
  --black-two: #232323;
  --grey: #d8d8d8;
  --white: #fcfcfc;
  --pale-grey: #f0f5ff;
}

/* Shutter Global Styles */
* {
  line-height: 1em;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.8rem;
  min-width: 400px;
}

.fullWrapper {
  padding: 50px 5%;
}

.noListMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, .noListMenu a {
  text-decoration: none;
  color: var(--white);
}

a:hover, .noListMenu a:hover {
  color: var(--grey);
  /* CSS font border using text-shadow idea credits to Narcelio Filho on stackoverflow.com */
  /* Added white glow behind */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 15px var(--white);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 4.2rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  padding: 24px 0 50px 0;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
}

i {
  font-size: 4rem;
}

p {
  margin: 30px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 29px;
}

img {
  max-width: 100%;
}

.button {
  display: block;
  height: 3em;
  margin: auto;
  border: 0;
  background-color: var(--accentColour);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0 0 20px var(--black);
}

.more {
  padding: 0 40px;
}
/*** END Global Styles ***/

/*** Hero Banner Section ***/
.heroBanner .fullWrapper {
  padding-top: 10px;
  position: relative;
}

header {
  min-height: 100vh;
  background: url(../assets/cover.png) no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
}

.heroBanner .logo {
  float: left;
}

.heroBanner .logo h2 {
  font-size: 3rem;
  line-height: 6.3rem;
  position: relative;
  z-index: 2;
}

.desktopMenu {
  display: none;
}

.hamburgerMenu {
  float: right;
}

.hamburgerMenu input#menuToggle {
  display: none;
}

.mobileMenu {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  padding: 83px 5% 10px 5%;
  position: absolute;
  z-index: 1;
  top: -100vh;
  left: 0;
  transition: all 0.25s;
}

.mobileMenu li {
  /* padding: 20px 0; */
  line-height: 3em;
  border-top: 1px solid white;
}

.mobileMenu a {
  display: block;
  width: 100%;
  padding: 20px 0;
}

.mobileMenu li:last-child {
  border-bottom: 1px solid white;
}

.hamburgerMenu input#menuToggle:checked + .mobileMenu {
  top: 0;
}

.hamburgerMenu i {
  line-height: 6.3rem;
  position: relative;
  z-index: 2;
}

.hamburgerMenu .mobileMenu i {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-right: 20px;
}

.socialMedia {
  display: none;
}

.headerName {
  font-size: 6rem;
  text-transform: capitalize;
  display: block;
}

.welcomeTitle {
  padding: 30vh 0 50px 0;
}

.welcomeTitle h1 {
  display: block;
  font-size: 2.2rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.welcomeTitle h1 span {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  line-height: 8rem;
}
/*** /Hero Banner Section ***/

/*** About Section ***/
.about {
  background: var(--pale-grey);
}

.about p {
  text-align: center;
}
/*** /About Section ***/

/*** Image Divider Section ***/
.imageDivider .fullWrapper {
  padding: 0;
}

.imageDivider img {
  width: 50%;
  float: left;
}

.imageDivider img:last-child {
  display: none;
}

/*** Middle Menu ***/
.midMenu {
  background: #1f2022;
  padding-bottom: 0;
}

.midMenu ul {
  color: white;
}

.midMenu i {
  width: 100%;
  text-align: center;
}
/*** /Middle Menu ***/

/*** Main Section ***/
.behindTheLens img {
  display: block;
  margin: auto;
}

.behindTheLens h2 {
  margin: 30px 0;
}

.behindTheLens p {
  text-align: left;
}

/*** /Main Section ***/

/*** Article Section ***/
.blogPost {
  clear: both;
  background: var(--pale-grey);
  width: 100%;
  position: relative;
}

.blogPost h2 {
  font-size: 3.2rem;
}

.blogPost .fullWrapper {
  padding: 50px 12.5%;
}

.blogPost .more {
  padding: 0 25px;
}
/*** /Article Section ***/

/*** Page Footer Section ***/
.pgFooter {
  background: var(--black-two);
  color: var(--white);
}

.desktop {
  display: none;
}

.subscribeEmail {
  height: 3em;
  width: 100%;
  margin-bottom: 1.2rem;
}

.subscribeEmail {
  text-align: center;
}

.subscribeEmail::placeholder {
  color: gray; /* Decided to leave this gray because the black placeholder in the Zeplin design makes it not look like a placeholder */
  font-family: 'Lato', sans-serif;
}

.subscribe {
  width: 100%;
}

.pgFooter p, .pgFooter li, .pgFooter address {
  margin: 3px 0;
  line-height: 29px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: normal;
}

.pgFooter p {
  margin-bottom: 11px;
}

.leftFooter, .rightFooter {
  float: left;
  width: 50%;
  margin-top: 30px;
}

.pagesMenu li {
  text-transform: uppercase;
}

/*** END Page Footer Section ***/

/*** Copyright Footer Bar ***/
.copyright {
  background: black;
}

.copyright p {
  margin: auto;
  background: black;
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3em;
  /* vertical-align: middle; */
}
/*** END Copyright Footer Bar ***/

/*** Media Queries ***/
@media (min-width: 761px) {
  .heroBanner .logo h2 {
    font-size: 4.2rem;
  }

  .hamburgerMenu {
    display: none;
  }

  .desktopMenu {
    display: block;
    float: right;
  }

  /* .topMenu {
    background: none;
    display: block;
    transition: none;
    right: 0;
    width: auto;
    height: auto;
    padding: 10px 5%;
  } */

  .desktopMenu li {
    display: inline-block;
    margin: 0 0 0 35px;
    line-height: 63px;
    /* vertical-align: middle; */
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .topMenu a {
    color: var(--white);
    text-transform: uppercase;
  }
  
  .socialMedia {
    display: block;
    float: right;
    width: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 15vh;
  }

  .socialMedia a {
    display: block;
    color: var(--white);
    padding: 8px;
  }
  
  .socialMedia i {
    line-height: 26px;
    font-size: 2rem;
    text-align: center;
  }

  .welcomeTitle {
    padding-top: 20vh;
  }

  /*** Image Divider ***/
  .imageDivider .fullWrapper {
    padding: 50px 5%;
  }
  
  .imageDivider img {
    width: calc((100% - 80px) / 3);
  }

  .imageDivider img:nth-child(2) {
    margin: 0 40px;
  }
  
  .imageDivider img:last-child {
    display: block;
    float: left;
  }

  /*** Mid Menu ***/
  .midMenu {
    background: url(../assets/midMenuBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* .midMenu li {
    display: inline-block;
    text-align: center;
    width: calc((100% - (65px * 3) - 5px) / 4);
    margin-right: 60px;
    margin-bottom: 50px;
  }

  .midMenu li:last-child {
    margin-right: 0;
  } */

  .midMenu li {
    float: left;
    text-align: center;
    width: calc((100% - 180px) / 4);
    margin-right: 60px;
    margin-bottom: 50px;
  }

  .midMenu li:last-child {
    margin-right: 0;
  }

  .midMenu i {
    text-align: center;
  }

  .midMenu h3 {
    padding-bottom: 0;
  }


  /*** Main ***/
  .behindTheLens img {
    float: left;
    margin-right: 40px;
  }

  .behindTheLens h2 {
    margin: 0;
  }

  .behindTheLens h2, 
  .behindTheLens p {
    text-align: left;
  }

  .behindTheLens button {
    margin: 0 auto 0 0;
  }

  /*** Articles ***/
  .blogPost {
    width: 50%;
  }

  /* Image float idea credits to Jenny and Andy */
  .blogPost img {
    display: none;
  }
  
  .imageRight h2, .imageRight p {
    text-align: right;
  }
  
  .imageRight button {
    margin: 0 0 0 auto;
  }

  .imageRight .fullWrapper::before {
    content: "";
    background: url(../assets/natureScenery.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
  }
  
  .imageLeft {
    float: right;
  }
  
  .imageLeft h2, .imageLeft p {
    text-align: left;
  }
  
  .imageLeft button {
    margin: 0 auto 0 0;
  }

  .imageLeft .fullWrapper::before {
    content: "";
    background: url(../assets/candidPhotography.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }

  /*** Footer ***/
  footer {
    clear: both;
  }
  
  .desktop {
    display: block;
    float: left;
  }

  .mobile {
    display: none;
  }

  .leftFooter {
    width: 20%;
    margin-top: 0;
    text-align: left;
  }

  .leftFooter h4, .leftFooter li, .leftFooter address {
    text-align: left;
  }

  .midFooter {
    float: left;
    width: 60%;
  }

  .rightFooter {
    float: left;
    width: 20%;
    margin-top: 0;
  }

  .rightFooter h4, .rightFooter li {
    text-align: right;
  }
}

@media (min-width: 970px) {
  .fullWrapper,
  .imageDivider .fullWrapper,
  .blogPost .fullWrapper {
    padding: 100px 10%;
  }

  .heroBanner {
    padding-top: 20px;
  }

  .socialMedia {
    width: 10%;
    margin-right: 0;
  }

  /*** About Section ***/
  .about p {
    width: 50%;
    margin: 30px auto;
  }

  .midMenu li {
    margin-bottom: 0;
  }

  .midFooter input, .midFooter button {
    float: left;
  }

  .midFooter input {
    width: 75%;
    text-align: left;
  }

  /* .midFooter input::placeholder {
    text-align: left;
  } */

  .midFooter button {
    width: 25%;
  }
}