/**** HackerYou Fall 2018 Project1 by Vincent Tang ****/

/*** Global Styles ***/

/** CSS Normalize **/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/** Clearfix **/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

/** Border Box **/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/** Shutter Color Palette Provided **/
:root {
  --accentColour: #e7a8e6;
  --blackShade: #1f2022;
  --black: #000000;
  --black-two: #232323;
  --grey: #d8d8d8;
  --white: #fcfcfc;
  --pale-grey: #f0f5ff;
}

/** Shutter Global Styles **/
* {
  line-height: 1em;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 1.8rem;
}

.wrapper {
  padding: 50px 5%;
}

.noListMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, .noListMenu a {
  color: var(--white);
  text-decoration: none;
}

a:hover, .noListMenu a:hover {
  color: var(--grey);
  /* CSS font border using text-shadow idea credits to Narcelio Filho on stackoverflow.com */
  /* Added white glow behind */
  text-shadow:  -1px 0 black,
                0 1px black,
                1px 0 black,
                0 -1px black,
                0px 0px 15px var(--white);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 4.2rem;
  font-weight: bold;
}

h3 {
  padding: 24px 0 50px 0;
  font-size: 3rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
}

i {
  font-size: 4rem;
}

p {
  margin: 30px 0;
  font-family: 'Lato', sans-serif;
  line-height: 29px;
  text-align: center;
}

img {
  max-width: 100%;
}

/* Master Button Styles */
.button { 
  display: block;
  height: 3em;
  margin: auto;
  border: 0;
  background-color: var(--accentColour);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.button:hover {
  box-shadow: 0 0 20px var(--black);
}

.more {
  padding: 0 40px;
}
/* /Master Button Styles */

/*** /Global Styles ***/


/*** Mobile First Styling ***/

/** Hero Banner Section **/

/* The Background Image */
.heroBanner {
  min-height: 100vh;
  background: url(../assets/cover.png) center / cover no-repeat;
  color: var(--white);
}

.heroBanner .wrapper {
  position: relative;
  padding-top: 10px;
}

/* Logo Text */
.heroBanner .logo {
  float: left;
}

.heroBanner .logo h2 {
  position: relative;
  z-index: 2;
  line-height: 6.3rem;
  font-size: 3rem;
}

/* Menu to be shown on Tablet and Desktop views only */
.desktopMenu {
  display: none;
}

/* Hamburger menu to be shown on Mobile view only */
.hamburgerMenu {
  float: right;
}

/* Checkbox hack credit to HackerYou PT course notes - hide the checkbox input element as it doesn't need to be visible */
.hamburgerMenu input#menuToggle {
  display: none;
}

/* When the checkbox is checked off, this sets the mobileMenu's position to top 0, which, together with the styles set below, shows the menu on top of the hero banner */
.hamburgerMenu input#menuToggle:checked + .mobileMenu {
  top: 0;
}

/* Styling the menu overlay */
.mobileMenu {
  position: absolute; /* To enable positioning offscreen out of view until hamburger menu is clicked */
  height: 100vh; /* Set height equal to the viewport height so the overlay rests above the entire hero banner */
  width: 100%;
  padding: 83px 5% 10px 5%; /* Padding to mimic the wrapper */
  background: rgba(0, 0, 0, 0.8); /* Translucent overlay */
  z-index: 1; /* Display on top of other elements */
  top: -100vh; /* Should sit offscreen at 100% above the current viewport height */
  left: 0;
  transition: all 0.25s; /* Applies animation over 0.25 seconds */
}

.mobileMenu li {
  border-top: 1px solid white;
  line-height: 3em;
}

.mobileMenu li:last-child {
  border-bottom: 1px solid white;
}

.mobileMenu a {
  display: block;
  width: 100%;
  padding: 20px 0;
}

/* This targets the hamburger font awesome icon */
.hamburgerMenu i {
  line-height: 6.3rem;
  position: relative;
  z-index: 2;
}

/* This targets the social media icons within the mobile menu */
.hamburgerMenu .mobileMenu i {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-right: 20px;
}

/* Social Media links are hidden and put into the mobile menu, so hidden here */
.socialMedia {
  display: none;
}

/* Welcome to Shutter */
.welcomeTitle {
  padding: 30vh 0 50px 0;
}

.welcomeTitle h1 {
  display: block;
  font-size: 2.2rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.welcomeTitle h1 span {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  line-height: 8rem;
  text-transform: capitalize;
}
/*** /Hero Banner Section ***/

/*** About Section ***/
.about {
  background: var(--pale-grey);
}

.about p {
  text-align: center;
}
/*** /About Section ***/

/*** Gallery Section ***/
.gallery.wrapper {
  padding: 0;
}

.gallery img {
  width: 50%;
  float: left;
}

.gallery img:last-child {
  display: none;
}

/*** Middle Menu ***/
.midMenu {
  background: var(--blackShade);
  padding-bottom: 0;
}

.midMenu ul {
  color: var(--white);
}

.midMenu i {
  width: 100%;
  text-align: center;
}
/** /Middle Menu **/

/** Main Section **/
.behindTheLens img {
  display: block;
  margin: auto;
}

.behindTheLens h2 {
  margin: 30px 0;
}

.behindTheLens p {
  text-align: left;
}
/** /Main Section **/

/** Blog Post Section **/
.blogPost {
  position: relative;
  width: 100%;
  background: var(--pale-grey);
}

.blogPost h2 {
  font-size: 3.2rem;
}

.blogPost p {
  width: 100%;
}

.blogPost .wrapper {
  padding: 50px 12.5%;
}

.blogPost .more {
  padding: 0 25px;
}
/** /Blog Post Section **/

/** Footer Section **/
.pgFooter {
  background: var(--black-two);
  color: var(--white);
}

.pgFooter p, .pgFooter li, .pgFooter address {
  margin: 3px 0;
  line-height: 29px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: normal;
}

.pgFooter p {
  margin-bottom: 11px;
}

/* Hide the Contact Section (leftFooter) of the desktop view */
.desktop {
  display: none;
}

/* Stay Updated (midFooter) Section */
.subscribeEmail {
  margin-bottom: 1.2rem;
  height: 3em;
  width: 100%;
  text-align: center;
}

.subscribeEmail::placeholder {
  color: gray; /* Decided to leave this gray because the black placeholder in the Zeplin design makes it not look like a placeholder */
  font-family: 'Lato', sans-serif;
}

/* Subscribe Button */
.subscribe {
  width: 100%;
}

/* 2 columns for the Contact and Pages Sections of the mobile footer */
.leftFooter, .rightFooter {
  float: left;
  width: 50%;
  margin-top: 30px;
}

/* Pages Section */
.pagesMenu li {
  text-transform: uppercase;
}

/* Copyright Footer Bar */
.copyright {
  background: var(--black);
}

.copyright p {
  margin: auto;
  color: var(--white);
  opacity: 0.5;
  line-height: 3em;
  font-weight: bold;
  font-size: 1.8rem;
}
/* /Copyright Footer Bar */
/** /Footer Section **/

/*** Media Queries ***/

/** To catch the overflow of the Welcome To Shutter title when the screen width is too small **/
@media (max-width: 399px) {
  .welcomeTitle h1 span {
    font-size: 9rem; /* Because 10rem is too large for iPhone 4 users. :unamused: */
    line-height: 8rem;
  }
}

/** To catch the overflow of the mobile menu for mobile screens with smaller viewport heights **/
@media (max-height: 600px) {
  .mobileMenu a {
    padding: 10px 0;
  }
}

/** Tablet Styles **/
@media (min-width: 761px) {
  /** Hero Banner Section **/
  .heroBanner .logo h2 {
    font-size: 4.2rem;
  }

  /* Hide the hamburger menu */
  .hamburgerMenu {
    display: none;
  }

  /* Show the desktop menu and style the elements for the first time */
  .desktopMenu {
    display: block;
    float: right;
  }

  .desktopMenu li {
    display: inline-block;
    margin: 0 0 0 35px;
    line-height: 63px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .desktopMenu a {
    color: var(--white);
    text-transform: uppercase;
  }
  
  /* Show the social media links and style the icons for the first time */
  .socialMedia {
    display: block;
    float: right;
    margin: 15vh 5% 0 0;
    width: 5%;
    text-align: center;
  }

  .socialMedia a {
    display: block;
    padding: 8px;
    color: var(--white);
  }
  
  .socialMedia i {
    line-height: 26px;
    font-size: 2rem;
    text-align: center;
  }

  .welcomeTitle {
    padding-top: 20vh;
  }
  /** /Hero Banner Section **/

  /** Gallery Section **/
  .gallery.wrapper {
    padding: 50px 5%;
  }
  
  .gallery img {
    width: calc((100% - 80px) / 3); /* Width of each image is 100% of the parent container less gutter margins divided by 3 images */
  }

  .gallery img:nth-child(2) {
    margin: 0 40px; /* Add the margin on the middle image */
  }
  
  /* Show the last image in the gallery and style for the first time */
  .gallery img:last-child {
    display: block;
    float: left;
  }

  /** Middle Menu **/
  .midMenu {
    background: url(../assets/midMenuBG.png) center / cover no-repeat;
  }

  .midMenu li {
    float: left;
    margin-right: 60px;
    margin-bottom: 50px;
    width: calc((100% - 60px * 3) / 4); /* Adjust width calc by margin-right of 60px (3 gutters) */
    text-align: center;
  }

  .midMenu li:last-child {
    margin-right: 0;
  }

  .midMenu i {
    text-align: center;
  }

  .midMenu h3 {
    padding-bottom: 0;
  }
  /** /Middle Menu **/

  /** Main Section **/
  .behindTheLens img {
    float: left;
    margin-right: 40px;
  }

  .behindTheLens h2 {
    margin: 0;
  }

  .behindTheLens h2, 
  .behindTheLens p {
    text-align: left;
  }

  .behindTheLens button {
    margin: 0 auto 0 0;
  }
  /** /Main Section **/

  /** Blog Posts Section **/
  .blogPost {
    width: 50%; /* IMPORTANT FOR THE IMAGE FLOAT BELOW */
  }

  /** Image background idea credits to Jenny Ngo and Andy Ng **/
  /* Hide the original images from mobile view */
  .blogPost img {
    display: none;
  }
  
  /* Styles for blog posts where the image is to the right of the content */
  /* No float is required as text-align right and margins will do the trick */
  .imageRight h2, .imageRight p {
    text-align: right;
  }
  
  .imageRight button {
    margin: 0 0 0 auto;
  }

  /* Creates a pseudo element before the wrapper div that has the height and width of the div so that the size remains the same on resize of the browser window. A background image is set to this pseudo element which covers the entire size of this pseudo div, avoiding having to use object fit on an img element, which currently is still not very supported across various browsers */
  .imageRight .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%; /* Pushes the pseudo element entirely to the right of the wrapper div */
    height: 100%;
    width: 100%;
    background: url(../assets/natureScenery.png) bottom / cover no-repeat;
  }

  /* Styles for blog posts where the image is to the right of the content */  
  .imageLeft {
    float: right;
  }
  
  .imageLeft h2, .imageLeft p {
    text-align: left;
  }
  
  .imageLeft button {
    margin: 0 auto 0 0;
  }

  /* Same pseudo element, except left: -100%; instead of right */
  .imageLeft .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Pushes the pseudo element entirely to the left of the wrapper div */
    height: 100%;
    width: 100%;
    background: url(../assets/candidPhotography.png) bottom / cover no-repeat;
  }
  /** /Blog Posts Section **/

  /** Footer Section **/
  footer {
    clear: both; /* Because I was bad and floated the article element before it and didn't put a clearfix on its parent element (body) */
  }
  
  /* Contact Section */
  /* Show the desktop version of the Contact Section in the footer and style for the first time */
  .desktop {
    display: block;
    float: left;
  }

  /* Don't show the mobile version of the Contact Section anymore */
  .mobile {
    display: none;
  }

  .leftFooter {
    margin-top: 0;
    width: 20%;
    text-align: left;
  }

  .leftFooter h4, .leftFooter li, .leftFooter address {
    text-align: left;
  }

  /* Stay Updated Section */
  .midFooter {
    float: left;
    width: 60%;
  }

  /* Pages Section */
  .rightFooter {
    float: left;
    width: 20%;
    margin-top: 0;
  }

  .rightFooter h4, .rightFooter li {
    text-align: right;
  }
}

/** Desktop Styles **/
@media (min-width: 970px) {
  /* Larger wrapping for desktop view */
  .wrapper,
  .gallery.wrapper,
  .blogPost .wrapper {
    padding: 100px 10%;
  }

  /* Hero Banner Section */
  .heroBanner {
    padding-top: 20px;
  }

  .socialMedia {
    width: 10%;
    margin-right: 0;
  }
  /* /Hero Bannery Section */

  /* About Section */
  .about p {
    width: 50%;
    margin: 30px auto;
  }
  /* /About Section */

  /* Middle Menu */
  .midMenu li {
    margin-bottom: 0;
  }
  /* Middle Menu */

  /* Blog Post Section */
  .blogPost p {
    width: 300px;
  }

  .blogPost.imageRight p {
    margin-left: auto;
  }
  /* /Blog Post Section */

  /* Footer Section */
  .midFooter input, .midFooter button {
    float: left;
  }

  .midFooter input {
    width: 75%;
    text-align: left;
  }

  .midFooter button {
    width: 25%;
  }
  /* /Footer Section */
}